/* GLOBAL */
.bloqueSuperior {
  display: flex; }
  .bloqueSuperior .tituloEspecial {
    font-family: "outlines", sans-serif;
    font-size: 50pt;
    margin: 0px;
    width: 40%; }
  .bloqueSuperior .bloqueNavegacion {
    display: flex;
    flex-direction: row !important;
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly; }
    .bloqueSuperior .bloqueNavegacion .navBarra {
      display: flex;
      width: 100%;
      flex-direction: row; }
    .bloqueSuperior .bloqueNavegacion ul {
      list-style-type: none; }
    .bloqueSuperior .bloqueNavegacion a {
      text-decoration: none;
      font-size: 14pt;
      font-weight: 300;
      color: #404041 !important;
      padding-left: 50px;
      padding-right: 10px; }
    .bloqueSuperior .bloqueNavegacion a:hover {
      text-decoration: underline !important;
      text-decoration-thickness: 10pt !important;
      text-decoration-color: #ffed00 !important; }

@media only screen and (max-width: 1024px) {
  .bloqueSuperior {
    padding: 0 10px;
    border-bottom: 1pt solid lightgray; }
    .bloqueSuperior .contenedorTitulo {
      display: flex;
      align-items: center; }
    .bloqueSuperior .tituloEspecial {
      text-align: center;
      font-size: 28pt;
      margin: 1px;
      width: auto;
      line-height: 45pt; }
    .bloqueSuperior .bloqueNavegacion {
      margin-right: 15px;
      padding-left: 10px;
      margin-top: 10px;
      justify-content: flex-start;
      width: auto; }
      .bloqueSuperior .bloqueNavegacion ul {
        padding: 0; }
      .bloqueSuperior .bloqueNavegacion .navBarra {
        flex-direction: column; }
        .bloqueSuperior .bloqueNavegacion .navBarra li {
          margin-bottom: 5px; }
        .bloqueSuperior .bloqueNavegacion .navBarra a {
          font-size: 11pt;
          padding-left: 5px;
          padding-right: 5px;
          color: #404041; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .bloqueSuperior {
    display: flex;
    padding: 0 10px;
    border-bottom: 1pt solid lightgray; }
    .bloqueSuperior .tituloEspecial {
      font-size: 46pt;
      margin: 0px;
      text-align: left; }
    .bloqueSuperior .bloqueNavegacion {
      margin-top: 10px; }
    .bloqueSuperior .navBarra {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-end; } }

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #404041;
  border-top: 1pt solid #404041; }
  footer .bloque {
    width: 100%;
    height: 20vh;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.45; }
    footer .bloque .linksFooter {
      color: #404041; }
  footer .bloqueLogo {
    text-align: right;
    margin-top: 35px; }

@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px; }
    .footer .bloque {
      height: auto;
      padding: 0;
      margin: 10px 0; }
    .footer .bloqueLogo {
      text-align: center; } }

/* HOME DESKTOP */
@media only screen and (min-width: 1025px) {
  .primerBloque {
    display: flex;
    flex-direction: row !important;
    margin-top: 50px;
    margin-bottom: 50px; }
    .primerBloque .textoIzquierda {
      width: 70%;
      font-weight: 300;
      font-size: 14pt;
      margin-left: 10px; }
  .botonFechas {
    text-decoration: none;
    color: black;
    font-size: 21pt !important;
    background-color: white;
    border: white; }
  .segundoBloque {
    display: flex;
    justify-content: space-between;
    margin: 25px; }
  .carouselTitulo {
    font-weight: 700; }
  #primerCarousel {
    width: 33%; }
  #segundoCarousel {
    width: 33%; }
  #tercerCarousel {
    width: 33%; }
  .tresCarouseles {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .carousel-inner {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    width: 30%;
    height: 480px; }
    .carousel-inner .carousel-item {
      transition: transform .15s; }
  .novedades {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px; }
    .novedades .card-text {
      font-size: 10pt;
      margin-top: 15pt; }
    .novedades .card {
      width: 33%; }
  .listado {
    margin-top: 30px;
    margin-bottom: 50px; }
    .listado #directores {
      letter-spacing: 5px;
      text-decoration: none !important;
      color: #404041 !important; } }

/* HOME TABLET */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .lineaMarcador {
    display: none; }
  .bloqueSuperior {
    display: flex; }
    .bloqueSuperior .tituloEspecial {
      font-size: 46pt;
      margin: 0px; }
    .bloqueSuperior .bloqueNavegacion {
      margin-top: 10px; }
    .bloqueSuperior .navBarra {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-end; }
  .primerBloque {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap; }
    .primerBloque .contenedorVideo {
      width: 100%; }
      .primerBloque .contenedorVideo iframe {
        width: 100%; }
    .primerBloque .boxIzq {
      display: flex;
      justify-content: center; }
      .primerBloque .boxIzq .textoIzquierda {
        margin-left: 0;
        width: 80%; }
  .segundoBloque {
    display: flex;
    justify-content: space-between;
    margin: 25px; }
  .carouselTitulo {
    font-weight: 700; }
  #primerCarousel {
    width: 33%; }
  #segundoCarousel {
    width: 33%; }
  #tercerCarousel {
    width: 33%; }
  .tresCarouseles {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .carousel-inner {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    width: 30%;
    height: 480px; }
    .carousel-inner .carousel-item {
      transition: transform .15s; }
  .novedades {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px; }
    .novedades .card-text {
      font-size: 10pt;
      margin-top: 15pt; }
  .card {
    width: 33%; }
  .listado {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center; }
    .listado #directores {
      letter-spacing: 5px;
      text-decoration: none !important;
      color: #404041 !important; } }

/* HOME MOBILE */
@media only screen and (max-width: 600px) {
  .primerBloque {
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0 10px; }
    .primerBloque .textoIzquierda {
      width: auto;
      font-size: 12pt;
      margin-left: 0; }
    .primerBloque .contenedorVideo {
      width: 100%; }
      .primerBloque .contenedorVideo iframe {
        width: 100%;
        height: 200px; }
  .subtitle {
    text-align: center; }
  .tresCarouseles {
    flex-direction: column !important; }
    .tresCarouseles #primerCarousel, .tresCarouseles #segundoCarousel, .tresCarouseles #tercerCarousel {
      width: 100%; }
    .tresCarouseles .carousel-inner {
      padding: 0; }
  .novedades {
    flex-wrap: wrap; }
    .novedades .card {
      width: 100%;
      margin-bottom: 1.5rem; }
  .directoresHome {
    padding: 0 16px; }
    .directoresHome .listado {
      text-align: center; } }

/* HISTORIA */
.bloquePrincipal {
  display: flex;
  margin: 20px; }

.textoNosotros {
  width: 36%;
  font-size: 12pt;
  font-weight: lighter;
  line-height: 1.5;
  text-align: justify;
  margin-left: -10px;
  margin-right: 70px; }

.pFINAL {
  font-weight: bold;
  font-style: italic; }

.grillaFotos {
  display: grid;
  grid-template-columns: 340px 340px;
  grid-template-rows: 240px 240px 240px 240px 240px;
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "programa1 programa2" "programa3 programa4";
  width: 50%;
  margin-top: 5px; }

.foto1 {
  grid-area: foto1; }

.foto2 {
  grid-area: foto2; }

.foto3 {
  grid-area: foto3; }

.foto4 {
  grid-area: foto4; }

.foto5 {
  grid-area: foto5; }

.foto6 {
  grid-area: foto6; }

.programa1 {
  grid-area: programa1; }

.programa2 {
  grid-area: programa2; }

.programa3 {
  grid-area: programa3; }

.programa4 {
  grid-area: programa4; }

/* RESOLUCION MOBILE */
@media only screen and (max-width: 767px) {
  .bloquePrincipal {
    margin-top: 3rem !important;
    flex-direction: column !important; }
    .bloquePrincipal .textoNosotros {
      width: 100%;
      margin: 0 !important; }
    .bloquePrincipal .contenedorImagenes .foto {
      margin-top: 1rem; }
    .bloquePrincipal .contenedorImagenes img {
      width: 100%; } }

/* ANALISIS */
.analisisPelis {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px; }
  .analisisPelis .primerPeli, .analisisPelis .segundaPeli, .analisisPelis .tercerPeli, .analisisPelis .cuartaPeli, .analisisPelis .quintaPeli {
    width: 20%;
    margin: 20px;
    padding: 20px; }
    .analisisPelis .primerPeli p, .analisisPelis .segundaPeli p, .analisisPelis .tercerPeli p, .analisisPelis .cuartaPeli p, .analisisPelis .quintaPeli p {
      font-size: 10pt;
      font-style: italic; }
  .analisisPelis .subAnalisis {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700; }

.botonAnalisis {
  padding: 10px 20px 10px 20px;
  border: 1pt solid black;
  text-decoration: none;
  display: block;
  width: 200px;
  color: black; }
  .botonAnalisis .botonAnalisis:hover {
    background-color: #ffed00;
    border: 1pt solid #ffed00; }

/* CONTACTO, TODO CAMBIA A DARK MODE*/
.bodyContacto {
  background-image: url("../recursos/img/fondoStar.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1400px;
  /*
  .bloqueNavegacionBlanco{
    display: flex;
    flex-direction: row !important;
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly;

    .navBarraBlanca{
      display: flex;
      width: 100%;
      flex-direction: row;
    }

    ul{
      list-style-type: none;
    }

    a{
      text-decoration: none;
      font-size: 14pt;
      font-weight: 300;
      color: white !important;
      padding-left: 50px;
      padding-right: 10px;
    }

    a:hover{
      text-decoration: underline !important;
      text-decoration-thickness: 10pt !important;
      text-decoration-color: $amarillito !important;
    }

  }
    */ }
  .bodyContacto .tituloEspecialBlanco {
    font-family: 'outlines', sans-serif;
    color: white;
    font-size: 50pt;
    margin: 0px;
    width: 40%; }
  .bodyContacto #bloqueContacto {
    color: #fff; }
    .bodyContacto #bloqueContacto .navBarra li a {
      color: #fff !important; }
  .bodyContacto .formularioContacto {
    display: flex;
    margin-bottom: 50px;
    margin-left: 10px;
    justify-content: space-between; }
    .bodyContacto .formularioContacto #lunaBlanca {
      margin-left: 200px;
      margin-top: -100px;
      opacity: 0.2; }
    .bodyContacto .formularioContacto #formDos .botonEnviar {
      font-family: 'NetworkRegular', sans-serif;
      color: #ffed00;
      font-size: 30pt;
      font-style: oblique;
      background-color: black;
      border: 1px solid black;
      width: 150px;
      margin-left: 270px; }
  .bodyContacto .inputForm {
    margin-bottom: 20px;
    border-style: none;
    border-bottom: 1px solid white;
    background-color: black; }
  .bodyContacto .inputMensaje {
    margin-bottom: 25px;
    border-style: none;
    border-bottom: 1px solid white;
    background-color: black;
    color: white; }
  .bodyContacto .inputForm {
    color: white; }
  .bodyContacto form {
    display: flex;
    margin-bottom: 120px;
    margin-top: 35px;
    margin-left: 0px;
    color: white; }

/* PAGINA DE CONTACTO MOBILE */
@media only screen and (max-width: 767px) {
  .bodyContacto {
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px; }
    .bodyContacto .contenedorTitulo {
      display: flex;
      align-items: center; }
    .bodyContacto .tituloEspecialBlanco {
      text-align: center;
      font-size: 25pt;
      margin: 0px;
      width: auto; }
    .bodyContacto .bloqueNavegacionBlanco {
      border-left: 1px solid;
      margin-right: 10px;
      padding-left: 5px;
      margin-top: 0;
      justify-content: flex-start;
      width: auto; }
      .bodyContacto .bloqueNavegacionBlanco ul {
        padding: 0; }
      .bodyContacto .bloqueNavegacionBlanco .navBarra {
        flex-direction: column; }
        .bodyContacto .bloqueNavegacionBlanco .navBarra li {
          margin-bottom: 5px; }
        .bodyContacto .bloqueNavegacionBlanco .navBarra a {
          font-size: 11pt;
          padding-left: 5px;
          padding-right: 5px; }
    .bodyContacto .formularioContacto {
      margin: 0 !important;
      display: block !important; }
    .bodyContacto form {
      flex-direction: column; }
      .bodyContacto form #formUno {
        padding: 0 2rem; }
        .bodyContacto form #formUno input, .bodyContacto form #formUno textarea {
          background: transparent;
          width: 100%;
          margin-top: .5rem; }
        .bodyContacto form #formUno .botonEnviar {
          font-weight: bold !important;
          margin: 0 !important;
          background: transparent !important;
          border: transparent !important;
          margin-left: auto !important;
          display: block !important; }
      .bodyContacto form #lunaBlanca {
        display: none; } }

/* VALIDACIONES DE CONTACTO */
.success {
  border: 2px solid #2ba039; }

.error {
  border: 2px solid #b93327; }

.error__msje {
  background-color: #b93327;
  color: white; }

.not-allowed {
  opacity: 0.4; }

.allowed {
  opacity: none; }

/* FUNCIONES */
.lineaMarcador {
  font-family: 'NetworkRegular', sans-serif;
  font-style: normal;
  color: red;
  opacity: 0.7;
  font-size: 50px;
  text-align: right;
  margin-top: -75px; }

.finalMarcador {
  font-family: 'NetworkRegular', sans-serif;
  font-style: normal;
  color: black;
  opacity: 0.7;
  font-size: 30px;
  text-align: left; }

.programacionMalba {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px; }
  .programacionMalba .primerPeli, .programacionMalba .segundaPeli, .programacionMalba .tercerPeli, .programacionMalba .cuartaPeli, .programacionMalba .quintaPeli {
    width: 20%;
    margin: 20px;
    padding: 20px; }
    .programacionMalba .primerPeli .date, .programacionMalba .segundaPeli .date, .programacionMalba .tercerPeli .date, .programacionMalba .cuartaPeli .date, .programacionMalba .quintaPeli .date, .programacionMalba .primerPeli .time, .programacionMalba .segundaPeli .time, .programacionMalba .tercerPeli .time, .programacionMalba .cuartaPeli .time, .programacionMalba .quintaPeli .time {
      font-family: 'NetworkRegular', sans-serif;
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 40pt;
      font-weight: 800;
      margin: 15px 0 15px 0; }
    .programacionMalba .primerPeli .time, .programacionMalba .segundaPeli .time, .programacionMalba .tercerPeli .time, .programacionMalba .cuartaPeli .time, .programacionMalba .quintaPeli .time {
      font-size: 17pt;
      color: blue;
      letter-spacing: 3px; }
    .programacionMalba .primerPeli p, .programacionMalba .segundaPeli p, .programacionMalba .tercerPeli p, .programacionMalba .cuartaPeli p, .programacionMalba .quintaPeli p {
      font-size: 10pt;
      font-style: italic; }
  .programacionMalba .subSinopsis {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700; }

.botonSinopsis {
  padding: 10px 20px 10px 20px;
  border: 1pt solid black;
  text-decoration: none;
  display: block;
  width: 200px;
  color: black; }

.botonEntradas {
  padding: 10px 20px 10px 20px;
  border: 0pt solid black;
  text-decoration: none;
  display: block;
  background: yellow;
  color: black;
  width: 200px; }

.card-body-funcion {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  margin-bottom: 20px;
  width: 200px; }

@media only screen and (max-width: 767px) {
  .programacionMalba {
    flex-direction: column;
    justify-content: center; }
    .programacionMalba .primerPeli, .programacionMalba .segundaPeli, .programacionMalba .tercerPeli, .programacionMalba .cuartaPeli, .programacionMalba .quintaPeli, .programacionMalba .segundaPeli, .programacionMalba .tercerPeli, .programacionMalba .cuartaPeli {
      text-align: center !important;
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important; }
      .programacionMalba .primerPeli img, .programacionMalba .segundaPeli img, .programacionMalba .tercerPeli img, .programacionMalba .cuartaPeli img, .programacionMalba .quintaPeli img, .programacionMalba .segundaPeli img, .programacionMalba .tercerPeli img, .programacionMalba .cuartaPeli img {
        width: 50% !important;
        display: block !important;
        margin: auto !important; }
      .programacionMalba .primerPeli .botonSinopsis, .programacionMalba .segundaPeli .botonSinopsis, .programacionMalba .tercerPeli .botonSinopsis, .programacionMalba .cuartaPeli .botonSinopsis, .programacionMalba .quintaPeli .botonSinopsis, .programacionMalba .segundaPeli .botonSinopsis, .programacionMalba .tercerPeli .botonSinopsis, .programacionMalba .cuartaPeli .botonSinopsis {
        display: block;
        margin: auto; }
      .programacionMalba .primerPeli .card, .programacionMalba .segundaPeli .card, .programacionMalba .tercerPeli .card, .programacionMalba .cuartaPeli .card, .programacionMalba .quintaPeli .card, .programacionMalba .segundaPeli .card, .programacionMalba .tercerPeli .card, .programacionMalba .cuartaPeli .card {
        width: 80% !important;
        margin: auto !important; }
  .finalMarcador {
    text-align: center;
    font-size: 25px; } }

/* CURIOSIDADES */
.card-text1 {
  font-size: 12pt; }

@media only screen and (max-width: 767px) {
  .card {
    margin-bottom: 2rem; }
  .card-text1 {
    font-size: 10pt; }
  .analisisPelis {
    display: flex;
    flex-wrap: wrap; } }

/* ERROR MOBILE & TABLET */
@media only screen and (max-width: 1024px) {
  .bodyError {
    margin: 0 !important; }
    .bodyError .bloqueError {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .bodyError .bloqueError .tituloError {
        margin: 2rem 0 !important;
        text-align: center;
        font-size: 60pt !important; }
      .bodyError .bloqueError .textoError {
        text-align: center;
        margin: 0 !important; }
      .bodyError .bloqueError .bloqueFotoError {
        position: none !important;
        margin: 0 !important; }
        .bodyError .bloqueError .bloqueFotoError img {
          width: 100%; } }

/* ERROR DESKTOP */
.bodyError {
  font-family: 'Mulish', sans-serif;
  margin: 0 !important;
  height: 100vh; }
  .bodyError .todoError {
    height: 100vh; }
  .bodyError .bloqueError {
    display: flex;
    height: 100%; }
    .bodyError .bloqueError .tituloError {
      font-family: 'outlines', sans-serif;
      font-size: 100pt;
      margin-top: 100px; }
    .bodyError .bloqueError .textoError {
      font-size: 14pt;
      font-weight: 300;
      margin-left: 20px;
      margin-top: -100px; }
      .bodyError .bloqueError .textoError a {
        font-weight: bold;
        color: #404041; }
    .bodyError .bloqueError .bloqueFotoError {
      position: relative;
      margin-top: -100px;
      margin-left: 200px; }
      .bodyError .bloqueError .bloqueFotoError img {
        height: 100%; }

@font-face {
  font-family: 'outlines';
  src: url("Outlines.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NetworkRegular';
  src: url("NetworkRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.tituloInvisible {
  font-size: 0pt;
  opacity: 0px; }

/* BODY DESKTOP */
@media only screen and (min-width: 1025px) {
  body {
    font-family: 'Mulish', sans-serif;
    margin-left: 100px !important;
    margin-right: 100px !important;
    margin-top: 30px !important; }
    body .subtitle {
      font-family: 'NetworkRegular', sans-serif;
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 40px;
      letter-spacing: 5px;
      text-align: left !important; } }

/* BODY TABLET */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-top: 20px !important; }
    body .subtitle {
      font-family: 'NetworkRegular', sans-serif;
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 30px;
      letter-spacing: 5px;
      text-align: center; } }

/* BODY MOBILE */
@media only screen and (max-width: 600px) {
  body {
    font-family: 'Mulish', sans-serif;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important; }
    body .subtitle {
      font-family: 'NetworkRegular', sans-serif;
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 20px;
      letter-spacing: 5px;
      text-align: center; } }
