/* GLOBAL */
.bloqueSuperior {
  display: flex; }
  .bloqueSuperior .tituloEspecial {
    font-family: 'outlines', sans-serif;
    font-size: 50pt;
    margin: 0px;
    width: 40%; }
  .bloqueSuperior .bloqueNavegacion {
    display: flex;
    flex-direction: row !important;
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly; }
    .bloqueSuperior .bloqueNavegacion .navBarra {
      display: flex;
      width: 100%;
      flex-direction: row; }
    .bloqueSuperior .bloqueNavegacion ul {
      list-style-type: none; }
    .bloqueSuperior .bloqueNavegacion a {
      text-decoration: none;
      font-size: 14pt;
      font-weight: 300;
      color: #404041 !important;
      padding-left: 50px;
      padding-right: 10px; }
    .bloqueSuperior .bloqueNavegacion a:hover {
      text-decoration: underline !important;
      text-decoration-thickness: 10pt !important;
      text-decoration-color: #ffed00 !important; }

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #404041;
  border-top: 1pt solid #404041; }
  footer .bloque {
    width: 100%;
    height: 20vh;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.45; }
    footer .bloque .linksFooter {
      color: #404041; }
  footer .bloqueLogo {
    text-align: right;
    margin-top: 35px; }

/* HOME */
h2 {
  font-family: 'NetworkRegular', sans-serif;
  font-style: normal;
  color: red;
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: 5px; }

.primerBloque {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px; }
  .primerBloque .textoIzquierda {
    width: 70%;
    font-weight: 300;
    font-size: 14pt;
    margin-left: 10px; }

.segundoBloque {
  display: flex;
  justify-content: space-between;
  margin: 25px; }

.suscribirse {
  background: var(--blanco);
  width: 100px;
  height: 25px;
  border: 1px solid var(--negro);
  box-sizing: border-box;
  border-radius: 2px; }

.carouselTitulo {
  font-weight: 700; }

#primerCarousel {
  width: 33%; }

#segundoCarousel {
  width: 33%; }

#tercerCarousel {
  width: 33%; }

.tresCarouseles {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  width: 30%;
  height: 480px; }
  .carousel-inner .carousel-item {
    transition: transform .15s; }

.novedades {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px; }
  .novedades .card-text {
    font-size: 10pt;
    margin-top: 15pt; }

.listado {
  margin-top: 30px;
  margin-bottom: 50px; }
  .listado #directores {
    letter-spacing: 5px;
    text-decoration: none !important;
    color: #404041 !important; }

/* HISTORIA */
.bloquePrincipal {
  display: flex;
  margin: 20px; }

.textoNosotros {
  width: 40%;
  font-size: 12pt;
  font-weight: lighter;
  line-height: 1.5;
  text-align: justify;
  margin-right: 70px; }

.pFINAL {
  font-weight: bold;
  font-style: italic; }

.grillaFotos {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 200px 350px 450px 450px;
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "programa1 programa2" "programa3 programa4";
  width: 50%;
  margin-top: 22px; }

.foto1 {
  grid-area: foto1; }

.foto2 {
  grid-area: foto2; }

.foto3 {
  grid-area: foto3; }

.foto4 {
  grid-area: foto4; }

.foto5 {
  grid-area: foto5; }

.foto6 {
  grid-area: foto6; }

.programa1 {
  grid-area: programa1; }

.programa2 {
  grid-area: programa2; }

.programa3 {
  grid-area: programa3; }

.programa4 {
  grid-area: programa4; }

/* ANALISIS */
.analisisPelis {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px; }
  .analisisPelis .primerPeli, .analisisPelis .segundaPeli, .analisisPelis .tercerPeli, .analisisPelis .cuartaPeli, .analisisPelis .quintaPeli {
    width: 20%;
    margin: 20px;
    padding: 20px; }
    .analisisPelis .primerPeli p, .analisisPelis .segundaPeli p, .analisisPelis .tercerPeli p, .analisisPelis .cuartaPeli p, .analisisPelis .quintaPeli p {
      font-size: 10pt;
      font-style: italic; }
  .analisisPelis .subAnalisis {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700; }

.botonAnalisis {
  padding: 10px 20px 10px 20px;
  border: 1pt solid black;
  text-decoration: none;
  display: block;
  width: 200px;
  color: black; }
  .botonAnalisis .botonAnalisis:hover {
    background-color: #ffed00;
    border: 1pt solid #ffed00; }

/* CONTACTO, TODO CAMBIA A DARK MODE*/
.bodyContacto {
  background-image: url("/Users/vilo/Desktop/cineclubnocturna/recursos/img/fondoStar.png");
  background-size: cover;
  height: 900px; }
  .bodyContacto .tituloEspecialBlanco {
    font-family: 'outlines', sans-serif;
    color: white;
    font-size: 50pt;
    margin: 0px;
    width: 40%; }
  .bodyContacto .bloqueNavegacionBlanco {
    display: flex;
    flex-direction: row !important;
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly; }
    .bodyContacto .bloqueNavegacionBlanco .navBarraBlanca {
      display: flex;
      width: 100%;
      flex-direction: row; }
    .bodyContacto .bloqueNavegacionBlanco ul {
      list-style-type: none; }
    .bodyContacto .bloqueNavegacionBlanco a {
      text-decoration: none;
      font-size: 14pt;
      font-weight: 300;
      color: white !important;
      padding-left: 50px;
      padding-right: 10px; }
    .bodyContacto .bloqueNavegacionBlanco a:hover {
      text-decoration: underline !important;
      text-decoration-thickness: 10pt !important;
      text-decoration-color: #ffed00 !important; }
  .bodyContacto .formularioContacto {
    display: flex;
    margin-bottom: 70px;
    margin-left: 10px;
    justify-content: space-between; }
    .bodyContacto .formularioContacto #formDos {
      margin-left: 180px; }
      .bodyContacto .formularioContacto #formDos .botonEnviar {
        font-family: 'NetworkRegular', sans-serif;
        color: #ffed00;
        font-size: 30pt;
        font-style: oblique;
        background-color: black;
        border: 1px solid black;
        width: 150px;
        margin-left: 300px; }
  .bodyContacto .inputForm {
    margin-bottom: 20px;
    border-style: none;
    border-bottom: 1px solid white;
    background-color: black; }
  .bodyContacto .inputMensaje {
    margin-bottom: 25px;
    border-style: none;
    border-bottom: 1px solid white;
    background-color: black;
    color: white; }
  .bodyContacto .inputForm {
    color: white; }
  .bodyContacto form {
    display: flex;
    margin-bottom: 120px;
    margin-top: 50px;
    margin-left: 0px;
    color: white; }

/* FUNCIONES */
.lineaMarcador {
  font-family: 'NetworkRegular', sans-serif;
  font-style: normal;
  color: red;
  opacity: 0.7;
  font-size: 50px;
  text-align: right;
  margin-top: -75px; }

.finalMarcador {
  font-family: 'NetworkRegular', sans-serif;
  font-style: normal;
  color: black;
  opacity: 0.7;
  font-size: 30px;
  text-align: left; }

.programacionMalba {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px; }
  .programacionMalba .primerPeli, .programacionMalba .segundaPeli, .programacionMalba .tercerPeli, .programacionMalba .cuartaPeli, .programacionMalba .quintaPeli {
    width: 20%;
    margin: 20px;
    padding: 20px; }
    .programacionMalba .primerPeli .date, .programacionMalba .segundaPeli .date, .programacionMalba .tercerPeli .date, .programacionMalba .cuartaPeli .date, .programacionMalba .quintaPeli .date, .programacionMalba .primerPeli .time, .programacionMalba .segundaPeli .time, .programacionMalba .tercerPeli .time, .programacionMalba .cuartaPeli .time, .programacionMalba .quintaPeli .time {
      font-family: 'NetworkRegular', sans-serif;
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 40pt;
      font-weight: 800;
      margin: 15px 0 15px 0; }
    .programacionMalba .primerPeli .time, .programacionMalba .segundaPeli .time, .programacionMalba .tercerPeli .time, .programacionMalba .cuartaPeli .time, .programacionMalba .quintaPeli .time {
      font-size: 17pt;
      color: blue;
      letter-spacing: 3px; }
    .programacionMalba .primerPeli p, .programacionMalba .segundaPeli p, .programacionMalba .tercerPeli p, .programacionMalba .cuartaPeli p, .programacionMalba .quintaPeli p {
      font-size: 10pt;
      font-style: italic; }
  .programacionMalba .subSinopsis {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700; }

.botonSinopsis {
  padding: 10px 20px 10px 20px;
  border: 1pt solid black;
  text-decoration: none;
  display: block;
  width: 200px;
  color: black; }
  .botonSinopsis .botonSinopsis:hover {
    background-color: #ffed00;
    border: 1pt solid #ffed00; }

/* CURIOSIDADES */
.card-text1 {
  font-size: 9pt; }

/* PAGINA DE ERROR */
.tituloInvisible {
  font-size: 0pt;
  opacity: 0px; }

body {
  font-family: 'Mulish', sans-serif;
  margin-left: 100px !important;
  margin-right: 100px !important;
  margin-top: 30px !important; }

@font-face {
  font-family: 'outlines';
  src: url("Outlines.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilmer Light';
  src: url("Gilmer Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NetworkRegular';
  src: url("NetworkRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* PAGINA DE ERROR */
.bodyError {
  font-family: 'Mulish', sans-serif;
  margin-bottom: 0px !important;
  height: 100vh; }
  .bodyError .bloqueError {
    display: flex; }
    .bodyError .bloqueError .tituloError {
      font-family: 'outlines', sans-serif;
      font-size: 100pt;
      margin-top: 100px; }
    .bodyError .bloqueError .textoError {
      font-size: 14pt;
      font-weight: 300;
      margin-left: 20px;
      margin-top: -100px; }
      .bodyError .bloqueError .textoError a {
        font-weight: bold;
        color: #404041; }
    .bodyError .bloqueError .bloqueFotoError {
      position: relative;
      margin-top: -100px;
      margin-left: 200px; }
