
/* PAGINA DE ERROR MOBILE */
  

@media only screen and (max-width: 767px){
 
  .bloqueError{
    display: flex;
    align-items: center;
    flex-direction: column;

    .tituloError{
      font-size: 60pt;
    }
  }
}


@media only screen and (max-width: 767px){
    body{
      margin:0!important;  
    }
  
    .bloqueError{
      .tituloError{
        margin: 2rem 0!important;
        text-align: center;
        font-size: 60pt!important;
      }
      .textoError{
        text-align: center;
        margin: 0!important;
      }
      .bloqueFotoError{
        position: none!important;
        margin: 0!important;
        img{
          width: 100%;
        }
      }
    }
  }
  
  /* PAGINA DE ERROR DESKTOP */
  
  
  .bodyError{
    font-family: 'Mulish', sans-serif;
    margin: 0!important;
    height: 100vh;
    
    .todoError{
      height: 100vh;
    }
  
    .bloqueError{
      display: flex;
      height: 100%;
    
      .tituloError{
        font-family:'outlines', sans-serif;  
        font-size: 100pt;
        margin-top: 100px;
      }
      
      .textoError{
        font-size: 14pt;
        font-weight: 300;
        margin-left: 20px;
        margin-top: -100px;
  
        a {
          font-weight: bold;
          color: $colorMarroncito;
        }
    
      }
    
      .bloqueFotoError{
        position: relative;
        margin-top: -100px;
        margin-left: 200px;
        img{
          height: 100%;
        }
      }
    
    }
  
  }
  
