
/* FUNCIONES */

.lineaMarcador {
  font-family: 'NetworkRegular', sans-serif;  
  font-style: normal;
  color: red;
  opacity: 0.7;
  font-size: 50px;
  text-align: right;
  margin-top: -75px;
}

.finalMarcador {
  font-family: 'NetworkRegular', sans-serif;  
  font-style: normal;
  color: black;
  opacity: 0.7;
  font-size: 30px;
  text-align: left;
}


.programacionMalba{

  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;

  .primerPeli{
    width: 20%;
    margin: 20px;
    padding: 20px;

    .date {
      font-family: 'NetworkRegular', sans-serif;  
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 40pt;
      font-weight: 800; 
      margin: 15px 0 15px 0;  
      }

    .time {
      @extend .date;
      font-size: 17pt;
      color: blue;
      letter-spacing: 3px;
      }
      
    p{
    font-size: 10pt;
    font-style: italic;    
    }

  }

  .segundaPeli{
    @extend .primerPeli;
  }   

  .tercerPeli{
    @extend .primerPeli;
  }   

  .cuartaPeli{
    @extend .primerPeli;
  }   

  .quintaPeli{
    @extend .primerPeli;
  }   

  .subSinopsis{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    }
}

  .botonSinopsis{
    padding: 10px 20px 10px 20px;
    border: 1pt solid black;
    text-decoration: none;
    display: block;
    width: 200px;
    color: black;

  .botonSinopsis:hover{
    background-color: $amarillito;
    border: 1pt solid $amarillito;
    }

}


@media only screen and (max-width: 767px){

  .programacionMalba {
    flex-direction: column;
    justify-content: center;
  } 
  
    .finalMarcador {
      text-align: center;
      font-size: 25px;
    }


}


