
.bloqueSuperior{

    display: flex;
        
    .tituloEspecial{
        font-family:'outlines', sans-serif;  
        font-size: 50pt;
        margin: 0px;
        width: 40%;
    }

    .bloqueNavegacion{
        display: flex;
        flex-direction: row !important;
        margin-top: 10px;
        width: 100%;
        justify-content: space-evenly;

        .navBarra{
            display: flex;
            width: 100%;
            flex-direction: row;
        }

        ul{
            list-style-type: none;
        }

        a{
            text-decoration: none;
            font-size: 14pt;
            font-weight: 300;
            color: #404041 !important;
            padding-left: 50px;
            padding-right: 10px;
        }
    
        a:hover{
            text-decoration: underline !important;
            text-decoration-thickness: 10pt !important;
            text-decoration-color: $amarillito !important;
        }

    }

}