
.bloqueSuperior{

    display: flex;
        
    .tituloEspecial{
        font-family:'outlines', sans-serif;  
        font-size: 50pt;
        margin: 0px;
        width: 60%;

    }
        
    .barraNav{
        margin-top: 20px;
        text-align: right;
    }
        
    ul{
        list-style-type: none;
    }
        
    a{
        text-decoration: none !important;
        font-size: 16pt;
        font-weight: 300;
        color: #404041 !important;
    }

    a:hover{
        text-decoration: underline !important;
    }
}