/* HOME */

h2 {
  font-family: 'NetworkRegular', sans-serif;  
  font-style: normal;
  color: red;
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: 5px;
}
  
.primerBloque{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;

  .textoIzquierda{
    width: 70%;
    font-weight: 300;
    font-size: 14pt;
    margin-left: 10px;
}
}

  .segundoBloque{
    display: flex;
    justify-content: space-between;
    margin: 25px;
  }
  
  .suscribirse{
    background: var(--blanco);
    width: 100px;
    height: 25px;
    border: 1px solid var(--negro);
    box-sizing: border-box;
    border-radius: 2px;
  }
  
  .carouselTitulo{
    font-weight: 700;
  }

  #primerCarousel{
    width: 33%;
  }

  #segundoCarousel{
    width: 33%;
  }

  #tercerCarousel{
    width: 33%;
  }

  .tresCarouseles{
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  .carousel-inner {
  
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    width: 30%;
    height: 480px;

    .carousel-item{
      transition: transform .15s;
    }
  }

  .novedades{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

    .card-text{
      font-size: 10pt;
      margin-top: 15pt;
    }

  }

  .listado{
    margin-top: 30px;
    margin-bottom: 50px;

    #directores{
      letter-spacing: 5px;
      text-decoration: none !important;
      color: $colorMarroncito !important;
    }
  }
