
/* CURIOSIDADES */

.card-text1{
  font-size: 12pt;
}

@media only screen and (max-width: 767px){

  .card{
    margin-bottom: 2rem;
  }
  .card-text1{
    font-size: 10pt;
  }
  
  .analisisPelis {
  display: flex;
  flex-wrap: wrap;
  }
}