/* GLOBAL */

@import "colores.scss";
@import "header.scss";
@import "footer.scss";
@import "index.scss";
@import "historia.scss";
@import "analisis.scss";
@import "contacto.scss";
@import "funciones.scss";
@import "curiosidades.scss";
@import "error";


@font-face{
  font-family: 'outlines';
  src: url('Outlines.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  

@font-face{
  font-family: 'NetworkRegular';
  src: url('NetworkRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.tituloInvisible{
  font-size: 0pt;
  opacity: 0px;
}


/* BODY DESKTOP */

@media only screen and (min-width: 1025px){
  body{
    font-family: 'Mulish', sans-serif;
    margin-left: 100px !important;
    margin-right: 100px !important;
    margin-top: 30px !important;

    .subtitle {
      font-family: 'NetworkRegular', sans-serif !important; 
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 50px;
      letter-spacing: 5px;
      text-align: left !important;
    }  
  }
}


/* BODY TABLET */

@media only screen and (min-width: 601px) and (min-width: 1024px){  
  body{
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-top: 20px !important;

    .subtitle {
      font-family: 'NetworkRegular', sans-serif;
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 40px;
      letter-spacing: 5px;
      text-align: center;
    }
  }
}

/* BODY MOBILE */

@media only screen and (max-width: 600px){
  body{
    font-family: 'Mulish', sans-serif;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;

    .subtitle {
      font-family: 'NetworkRegular', sans-serif;  
      font-style: normal;
      color: red;
      opacity: 0.7;
      font-size: 40px;
      letter-spacing: 5px;
      text-align: center;
    }
  }
}


