@import "colores.scss";
@import "header.scss";
@import "footer.scss";

/* HOME */

div {
background-color: $colorBlanco;
}

h2 {
    font-size: 18pt;
}

#directores{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $colorMarroncito;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* ANALISIS */

.analisisPelis{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

    .primerPeli{
        width: 20%;
        margin: 20px;
        padding: 20px;
        
        p{
        font-size: 10pt;
        font-style: italic;    
        }
    }
        .segundaPeli{
        @extend .primerPeli;
        }   

        .tercerPeli{
        @extend .primerPeli;
        }   

        .cuartaPeli{
        @extend .primerPeli;
        }   

        .quintaPeli{
        @extend .primerPeli;
        }   

  }

/* FUNCIONES */

@mixin funcionesMalba ($colorFondo, $radio){
    background-color: $colorFondo;
    border-radius: $radio;
  }

.cardFunciones {
    @include funcionesMalba (#dfdbd3, 1pt);
}

