/* GLOBAL */

@import "colores.scss";
@import "header.scss";
@import "footer.scss";
@import "index.scss";
@import "historia.scss";
@import "analisis.scss";
@import "contacto.scss";
@import "funciones.scss";
@import "curiosidades.scss";


/* PAGINA DE ERROR */


.tituloInvisible{
  font-size: 0pt;
  opacity: 0px;
}

body{
  font-family: 'Mulish', sans-serif;
  margin-left: 100px !important;
  margin-right: 100px !important;
  margin-top: 30px !important;
}

@font-face{
  font-family: 'outlines';
  src: url('Outlines.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
@font-face{
  font-family: 'Gilmer Light';
  src: url('Gilmer Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'NetworkRegular';
  src: url('NetworkRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* PAGINA DE ERROR */


.bodyError{
  font-family: 'Mulish', sans-serif;
  margin-bottom: 0px !important;
  height: 100vh;

  .bloqueError{
    display: flex;
  
    .tituloError{
      font-family:'outlines', sans-serif;  
      font-size: 100pt;
      margin-top: 100px;
    }
    
    .textoError{
      font-size: 14pt;
      font-weight: 300;
      margin-left: 20px;
      margin-top: -100px;

      a {
        font-weight: bold;
        color: $colorMarroncito;
      }
  
    }
  
    .bloqueFotoError{
      position: relative;
      margin-top: -100px;
      margin-left: 200px;
    }
  
  }

}