/* GLOBAL

* {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 }

 */

/* Paleta de posibles colores */
:root {
  --marroncito: #404041;
  --blanco: #FFFFFF;
  --negro: #000000;
  --lila: #A650F7;
  --verde: #79F48F;

}

h1{
  font-size: 0pt;
  opacity: 0px;
}

@font-face{
  font-family: 'outlines';
  src: url('Outlines.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
   
.tituloEspecial{
  font-family:'outlines', sans-serif;  
  font-size: 60pt;
  margin: 0px;
}

body{
  font-family: 'Mulish', sans-serif;
  margin: 70px;
}

h2{
  font-weight: 700;
}


/* HEADER */

.bloqueSuperior{
  display: flex;
}

.barraNav{
  margin-top: -8px;
  text-align: right;
  width: 60%;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  font-size: 16pt;
  font-weight: 300;
  color: #404041;
}

a:hover {
  text-decoration: underline;
}


/* PROBANDO INDEX DE 800PX PARA ABAJO */


@media only screen and (max-width: 800px){
  
  .bloqueSuperior{
    display: flex;
    flex-direction: column;
  }

.nav{
  width: 100%;
}

.acostaditos{
  display: flex;
  justify-content: space-between;
  padding: 0px;

}

  .barraNav{
    display:flex;    
    flex-direction: row;
    width: 100%;
    text-align: center;
  }

}

/* INDEX */

.primerBloque{
  display: flex;
}

.textoIzquierda{
  width: 50%;
  font-weight: 300;
  font-size: 14pt;
}

.segundoBloque{
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.suscribirse{
  background: var(--blanco);
  width: 100px;
  height: 25px;
  border: 1px solid var(--negro);
  box-sizing: border-box;
  border-radius: 2px;
}

/* FUNCIONES  */

.funciones{
  display: flex;
  justify-content: space-between;

}


table {
  border-top: 1px solid;
  color: var(--marroncito);
  margin: 25px 0 25px 0;
}

.date {
  font-family: 'ubuntu', sans-serif;
  color: var(--marroncito);
  font-size: 60px;
  font-weight: 800; 
  opacity: 0.3;
  margin: 15px 0 45px 0;  
  text-align: left;
}


.cardFunciones :hover {
  transition: 1s;
  font-size: 100px;
  background: linear-gradient(100deg, #FAFFF7 25%, #F2F0FF 75%)
}

/* HISTORIA */


.bloquePrincipal{
  display: flex;
  margin: 20px;
}

.textoNosotros{
width: 40%;
font-size: 12pt;
font-weight: lighter;
line-height: 1.5;
text-align:justify;
margin-right: 70px;
}
.pFINAL{
  font-weight: bold;
  font-style: italic;
}

.grillaFotos {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 200px 350px 450px 450px;
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "foto1 foto2"
    "foto3 foto4"
    "foto5 foto6"
    "programa1 programa2"
    "programa3 programa4";
  width: 50%;
  margin-top: 22px;
}

.foto1 { grid-area: foto1; }

.foto2 { grid-area: foto2; }

.foto3 { grid-area: foto3; }

.foto4 { grid-area: foto4; }

.foto5 { grid-area: foto5; }

.foto6 { grid-area: foto6; }

.programa1 { grid-area: programa1; }

.programa2 { grid-area: programa2; }

.programa3 { grid-area: programa3; }

.programa4 { grid-area: programa4; }


/* CONTACTO */

.bodyLogin{
  background-image: url("Recursos/luna.svg");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: right center;
}

.formularioContacto{
  display: flex;
  margin-bottom: 50px;
  margin-left: 10px;
}

.inputForm{
  margin-bottom: 20px; 
  border-style: none;
  border-bottom: 1px solid;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--marroncito);
  /*border-bottom: 1px solid;
  border-top: 1px solid;*/
}

.bloque{
  width: 100%;
  height: 20vh;
  padding: 20px;
}

.footer{
  background: linear-gradient(100deg, #FAFFF7 25%, #F2F0FF 75%);
}



